{% extends "owner/base.html" %}

{% block title %}Add Announcement{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<h1>Add work schedule</h1>
<form action="" method=post>
    <p>
        Day:
        <select name=day>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="7">Sunday</option>
        </select>
    </p>
    Start time:
    <input type=time name=start_time value="{{ request.form.startTime }}">
    <p>
        End time:
        <input type=time name=end_time value="{{ request.form.endTime }}">
    </p>
    <p>
        Worker:
        <select name=worker_id>
            {%- for user in users %}
            <option value="{{ user.id }}">{{ user.email }}</option>
            {%- endfor %}
        </select>
    </p>
    <p>
        <input type=submit value="Create">
    </p>
    <a href="{{ url_for('owner_app.getWorkSchedules') }}">Return</a>
</form>
{% endblock %}