{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}User{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <div>
        <h3><a link href="{{ url_for('owner_app.schedules') }}">Work Schedules</a></h3>
        <h3><a link href=" {{ url_for('owner_app.workers') }}">Workers List</a></h3>
    </div>
</div>
{% endblock %}
