{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}


{% block title %}Add Announcement{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<h1>Work schedules</h1>
<table class=workSchedules>
    <tr>
        <th>Id
        <th>Day
        <th>Start time
        <th>End time
        <th>Worker
        {% if current_user.has_role('admin') %}
        <th>Manage
        {% else %}   
        {% endif %}
    </tr>

    {%- for schedule in workSchedules %}
    <tr>
        <td>{{ schedule.id }}
        <td>{{ {1 : "Monday", 2 : "Tuesday", 3 : "Wednesday",
                        4 : "Thursday", 5 : "Friday", 6 : "Saturday",
                        7 : "Sunday"}[schedule.day] }}
        <td>{{ schedule.startTime }}
        <td>{{ schedule.endTime }}
        <td>{{ schedule.worker_id }}
        {% if current_user.has_role('admin') %}
        <td><a href="{{ url_for('owner_app.edit_schedule', id=schedule.id) }}">Edit</a> <a
            href="{{ url_for('owner_app.delete_schedule', id=schedule.id) }}">Delete</a>
        {% else %}   
        {% endif %}

    </tr>
    {%- endfor %}
</table>

{% if current_user.has_role('employee') %}
{% else %}
<p><a href="{{ url_for('owner_app.add_schedule') }}">Add new</a></p>
<a href="{{ url_for('owner_app.owner') }}">Return</a>
{% endif %}
{% endblock %}