{% extends "owner/layout.html" %}
{% block title %}Work schedules{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    <h1>Work schedules</h1>
    <p><a href="{{ url_for('owner.addWorkSchedule') }}">Add new</a></p>
    <table class=workSchedules>
        <tr>
            <th>Id
            <th>Day
            <th>Start time
            <th>End time
            <th>Worker
        </tr>

        {%- for schedule in workSchedules %}
            <tr>
                <td>{{ schedule.id }}
                <td>{{ schedule.day }}
                <td>{{ schedule.startTime }}
                <td>{{ schedule.endTime }}
                <td>{{ schedule.worker_id }}
            </tr>
        {%- endfor %}
    </table>
{% endblock %}