{% extends "main/application_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Worker & Owner Announcements Panel{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <div>
        <div>
            <h3> <a link href={{ url_for('announcements_app.add_announcement') }}>Add new announcements</a></h3>
            <h3> <a link href={{ url_for('announcements_app.get_announcements') }}>Get coworkers announcements</a></h3>
            <h3> <a link href={{ url_for('announcements_app.get_all_announcements') }}>Get all announcements</a></h3>
        </div>
    </div>
</div>
{% endblock %}