{% extends "main/application_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Ksiazki{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Ksiazki</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Strony</th>
        </tr>
        {% for ksiazka in ksiazki %}
        <tr>
            <td>{{ ksiazka.id }}</td>
            <td>{{ ksiazka.name }}</td>
            <td> {{ ksiazka.pages }}</td>
            <td>
                <a href="/books/delete/{{ ksiazka.id }}">Delete</a>
                <br>
                <a href="/books/update/{{ ksiazka.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="/books" method="POST">
        <label for="nazwa">Nazwa</label>
        <input type="text" name="nazwa" id="nazwa" />
        <label for="strony">Strony</label>
        <input type="text" name="strony" id="strony" />
        <input type="submit" value="Add Book" />
    </form>
</div>
{% endblock %}