{% extends "books/base.html" %}

{% block title %}Wydarzenia{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Wydarzenia</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Data</th>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{ event.id }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}