{% extends "books/base.html" %}

{% block title %}Update Book{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <h1>Update</h1>
        <form action="/books/update/{{ ksiazka.id }}" method="POST">
            <div class="form-group">
                <label for="nazwa">Title</label>
                <input class="form-control" type="text" name="nazwa" id="nazwa" value="{{ ksiazka.nazwa }}" />
                <label for="strony">Number of page</label>
                <input class="form-control" type="text" name="strony" id="strony" value="{{ ksiazka.strony }}" />
                <button type="submit" class="btn btn-primary">Update Book</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}