<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
</head>

{% extends "reader/reader_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Borrows{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Announcements</h1>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
            {% for announcement in announcements %}
            {% if announcement.readerVisibility %}
                <tr>
                    <td><a href="{{ url_for('reader_app.announcement', id = announcement.id) }}">{{ announcement.title }}</a></td>
                    <td>{{ announcement.description }}</td>
                    <td>{{ announcement.date }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}