<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
</head>

{% extends "reader/reader_base.html" %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ announcement.title }}</h1>
        <table class="table">
            <tr>
                <th>Date: {{ announcement.date }}</th>
            </tr>
            <tr>
                <th>{{ announcement.description }}</th>
            </tr>
        </table>
    </div>
</div>
{% endblock %}