{% extends "reader/reader_base.html" %}

{% block title %}Borrows{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
</head>
<div class="container">
    <div class="page-header">
        <h1>Books</h1>
        <form method="get">

                <div class="row">
                    <div class="col-md-3">
                        <h4><span class="badge badge-light">Title</span></h4>
                        {{ form.title_search }}
                    </div>
              <p>
                    <div class="col-md-3">
                        <h4><span class="badge badge-light">Author</span></h4>
                        {{ form.author_search }}
                    </div>
          
            <p>
                <div class="col-md-3">
                    <br>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </div>
        </form>
    </div>
    <br><br>

{% endblock %}