{% extends "reader/reader_base.html" %}

{% block title %}Borrows{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Wypożyczone książki</h1>
        <table>
            <tr>
                <th>ID wypożyczenia</th>
                <th>ID użytkownika</th>
                <th>ID książki</th>
            </tr>
            {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.user_id }}</td>
                <td>{{ borrow.ksiazka_id }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}