{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block title %}Change email{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Change email adress</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}