<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
</head>

{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Edit profile</h1>
            <table>
                <li><a href="{{ url_for('reader_app.change_password') }}">Change Password</a></li>
                <li><a href="{{ url_for('reader_app.change_email') }}">Change Email</a></li>
            <table/>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <li><a href="/reader/edit/password">Zmiana Hasła</a></li>
    <li><a href="/reader/edit/email">Zmiana Emaila</a></li>
</div>
{% endblock %}

