{% extends "reader/reader_base.html" %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Edycja profilu</h1>
            <table>
                <li><a href="/Reader/Edit/Password">Zmiana hasła</a></li>
                <li><a href="/Reader/Edit/Email">Zmiana Emaila</a></li>
            <table/>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <li><a href="/Reader/Edit/Password">Zmiana Hasła</a></li>
    <li><a href="/Reader/Edit/Email">Zmiana Emaila</a></li>
</div>
{% endblock %}

