{% extends "bootstrap/base.html" %}
<h1>
    {% block title %}Example App{% endblock %}
</h1>
{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/reader">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reader_app.books') }}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reader_app.borrows') }}">Borrows</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reader_app.events') }}">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reader_app.announcements') }}">Announcements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reader_app.profiles') }}">Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reader_app.edit') }}">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('registration_login_app.logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button"></button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

