{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}{{ super() }}{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<h1>Add new event</h1>
<form action="" method=post>
    <p>
        ID:
        <input type=number name=id value="{{ request.form.id }}"/>
    </p>
    <p>
        Event name:
        <input type=text name=name value="{{ request.form.name }}"/>
    </p>
    <p>
        Description:
        <input type=text name=desc value="{{ request.form.desc }}"/>
    </p>
    <!--<p>
        Date:
        <input type=datetime-local name=date value="{{ request.form.date }}"/>
    </p>-->
    <div>
                Date:
                {{ dateform.start_date() }}
    </div>
    <p>
        Choose auditorium
        <select name="auditorium">
            {% for aud in auditoriums %}
            <option value="{{ request.form.auditorium }}">{{ aud.id }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <input type=submit value="Create event"/>
        <a href="{{ url_for('events_app.admin_site') }}">Main view</a>
        <a href="{{ url_for('events_app.get_all_event') }}">All events</a>
    </p>
</form>
{% endblock %}