{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}{{ super() }}{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<p><a href="{{ url_for('events_app.add_event') }}">Create event</a></p>
<p><a href="{{ url_for('events_app.get_all_event') }}">All events</a></p>
<p><a href="{{ url_for('events_app.add_auditorium') }}">Add auditorium</a></p>
{% endblock %}