
{% extends "events/layout.html" %}
{% block title %}Wszystkie wydarzenia{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    <h1>Wszystkie wydarzenia</h1>
    <table class=events>
      <tr>
        <th>#
        <th>Nazwa
        <th>Opis
        <th>Data
      {%- for e in events %}
      <tr class=title>
         <td>{{ e.id }}
         <td>{{ e.name }}
         <td>{{ e.description }}
         <td>{{ e.date.strftime('%Y-%m-%d %H:%M') }}
         <td><a href={{ url_for('events_app.get_event', id=e.id) }}>Szczegóły wydarzenia {{ e.id }}</a>
         <td><a href={{ url_for('events_app.get_auditorium', id=e.auditorium) }}>Sala {{ e.auditorium }}</a>
      {%- endfor %}
    </table>
    <p><a href="{{ url_for('events_app.get_all_auditoriums') }}">Wszystkie sale</a></p>
{% endblock %}