{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}{{ super() }}{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<h1>All events</h1>
<table class=events>
  <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Auditorium</th>
  </tr>
      {%- for e in events %}
  <tr class=title>
          <td>{{ e.id }}</td>
          <td>{{ e.name }}</td>
          <td>{{ e.description }}</td>
          <td>{{ e.date.strftime('%Y-%m-%d %H:%M') }}</td>
          <td><a href={{ url_for('events_app.get_event', id=e.id) }}>Event {{ e.id }} details</a></td>
          <!--<td><a href={{ url_for('events_app.get_auditorium', id=e.auditorium) }}>Auditorium {{ e.auditorium }}</a></td>-->
  </tr>
      {%- endfor %}
</table>
<p><a href="{{ url_for('events_app.admin_site') }}">Main view</a></p>
{% endblock %}