{% extends "events/layout.html" %}
{% block title %}Wszystkie sale{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    <h1>Wszystkie sale</h1>
    <table class=todos>
      <tr>
        <th>#
        <th>Liczba osób mieszczących się w sali
        <th>Numer sali (?)
      {%- for a in auditoriums %}
      <tr class=title>
         <td>{{ a.id }}
         <td>{{ a.maxPlaces }}
         <td>{{ a.number }}
      {%- endfor %}
    </table>
{% endblock %}