{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}{{ super() }}{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<h1>Assign users to event {{ event.name }}</h1>
<table class=users>
  <tr>
      <th>#</th>
      <th>Email</th>
  </tr>
{% for u in userEvent %}
  <tr class=title>
      <td>{{ u.id }}</td>
      <td>{{ u.email }}</td>
  </tr>
{%- endfor %}
</table>
    <form action="" method=post>
        <p>Options:</p>
        <p>{{ users.choose() }}</p>
        <p><input type=submit value="Assign users to event"/></p>
        <p><a href="{{ url_for('events_app.admin_site') }}">Main view</a></p>
        <p><a href="{{ url_for('events_app.get_all_event') }}">All events</a></p>
    </form>
{% endblock %}