{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}{{ super() }}{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header events">
  <h1>All your events</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Auditorium</th>
        <th>Seats</th>
      </tr>
    </thead>
    <tbody>
      {%- for i in range(size) %}
      <tr>
          <td>{{ events[i].id }}</td>
          <td>{{ events[i].name }}</td>
          <td>{{ events[i].description }}</td>
          <td>{{ events[i].date }}</td>
          <td>{{ events[i].endDate }}</td>
          <td>{{ events[i].auditorium }}</td>
          <td>{{ users[i] }}/{{ audits[i].maxPlaces }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endblock %}