{% extends "eventTemplates/layout.html" %}
{% block title %}Dodaj Sale{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    <h1>Dodaj nową salę</h1>
    <form action="" method=post>
        <p>
            Identyfikator:
            <input type=number name=id value="{{ request.form.id }}">
        <p>
            Maksymalna pojemność sali:
            <input type=number name=maxPlaces value="{{ request.form.maxPlaces }}">
        <p>
            Numer sali:
            <input type=number name=number value="{{ request.form.number }}">
        <p>
            <input type=submit value="Stwórz Salę">
            <a href="{{ url_for('example_app.get_all_auditoriums') }}">Powrót do wszystkich sal</a>
  </form>
{% endblock %}