{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}{{ announcement.id }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<h1>Announcement details</h1>
<p><a href="{{ url_for('announcements_app.delete_announcement', id=announcement.id) }}">Delete</a></p>
<p><a href="{{ url_for('announcements_app.edit_announcement', id=announcement.id) }}">Edit</a></p>
{% endblock %}