{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}


{% block title %}{{ announcement.id }}{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <h1>Update</h1>
        <form action="" method=post>
            <div class="form-group">
                <label for="title">Announcement title</label>
                <input class="form-control" type=text name=title value="{{ announcement.title }}">
                <label for="description">Announcement content</label>
                <input class="form-control" type=text name=description value="{{announcement.description }}">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="check" name=readerVisibility value="{{ announcement.readerVisibility }}>
                        <label class=" form-check-label" for="check">Announcement visible only to coworkers</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{ url_for('announcements_app.employee') }}">Return</a>
        </form>
    </div>
</div>
{% endblock %}