{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}Reader announcements{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header announcements">
  <h1>All anouncements</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date Added</th>
      </tr>
    </thead>
    <tbody>
      {%- for announcement in announcements %}
      {%- if announcement.readerVisibility == 0 %}
      <tr>
        <td>{{ announcement.title }}
        <td>{{ announcement.description }}
        <td>{{ announcement.date.strftime('%Y-%m-%d') }}
      </tr>
      {% endif %}
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endblock %}