{% if current_user.has_role('employee') %}
{% extends "employee/base.html" %}
{% elif current_user.has_role('client')%}
{% extends "reader/reader_base.html" %}
{% else %}
{% extends "owner/base.html" %}
{% endif %}

{% block title %}All anouncements{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header announcements">
  <h1>All anouncements</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date Added</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {%- for announcement in announcements %}
      <tr>
        <td>{{ announcement.title }}</td>
        <td>{{ announcement.description }}</td>
        <td>{{ announcement.date.strftime('%Y-%m-%d') }}</td>
        <td><a href="{{ url_for('announcements_app.get_announcement', id=announcement.id) }}">Szczegóły ogłoszenia </a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endblock %}